body{
    background-color:#A5744E;
}
h3{
    font-family: arial;
    font-size: 14;
    color:blue;
}
#gay{
     width: 240px;
     height: 220px;
     border-radius: 25%;
     border: 1px solid #ff0000;     
}

#tilin{
      
}